ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #051014;
	position: sticky;
	width: 100%;
	top: 0;
}

.nav-item {
	float: left;
	height: 3em;
}

.nav-link {
	/* color: #66fcf1; */
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: context-menu;
	height: 100%;
}

.logo {
	/* max-height: 100%; */
	border-right: 1px solid #f9627d;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropbtn {
	font-size: inherit;
	font-family: inherit;
	border: none;
	padding: 14px 16px;
}

.dropdown-content {
	display: none;
	position: fixed;
	min-width: 7em;
}

.dropdown-content a {
	color: #051014;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}
