@import "./components/navBar.css";
@import "./components/descriptionBoard.css";
@import "./components/progressBar.css";
@import "./components/dashBoard.css";
@import "./components/alert.css";

@import "./soccer/soccerDash.css";
@import "./common/colors.css";
@import "./common/text.css";

html,
body,
#root,
.App {
	margin: 0;
	font-size: 1em;
	background-color: #f9627d;
	color: #0b0c10;
	height: 100%;
	width: 100%;
}
/* Spacing */
.margin-none {
	margin: 0 0 0 0;
}
.padding-none {
	padding: 0 0 0 0;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.display-card-header {
	margin: 0.25em 0 0.25em 1em;
}
.display-card {
	display: block;
	width: 85%;
	color: black;
	border-radius: 1em;
}
.display-card-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 1px solid black;
	border-radius: 0.5em;
	width: 90%;
}
.display-card-message {
	height: 90%;
	display: flex;
}
.flex-basis-five {
	flex-basis: 5%;
}
.flex-basis-ten {
	flex-basis: 10%;
}
.flex-basis-twenty {
	flex-basis: 20%;
}
.flex-basis-quarter {
	flex-basis: 25%;
}
.flex-basis-thirty {
	flex-basis: 30%;
}
.flex-basis-forty {
	flex-basis: 40%;
}
.flex-basis-half {
	flex-basis: 50%;
}
.flex-basis-sixty {
	flex-basis: 60%;
}
.flex-basis-seventy {
	flex-basis: 70%;
}
.flex-basis-3quarter {
	flex-basis: 70%;
}
.flex-basis-eighty {
	flex-basis: 80%;
}
.flex-basis-ninety {
	flex-basis: 90%;
}
.flex-basis-full {
	flex-basis: 100%;
}
/* Layout */
.flex {
	display: flex;
}
.display-flex-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.display-flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.parent-div {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}
.flex-left-child,
.flex-right-child {
	flex-grow: 1;
	align-self: stretch;
}
.upper-child,
.lower-child {
	overflow: auto;
}
.display-even-split {
	display: flex;
	justify-content: space-between;
}
.display-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.element-centre {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}
.element-right {
	justify-content: right;
	vertical-align: middle;
	align-items: center;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}
.float-centre {
	justify-content: center;
	align-items: center;
}
/* shapes */
.circle {
	border-radius: 50%;
	display: inline-flex;
	height: 2em;
	width: 2em;
	/* float: left; */
}
/* border */
.border {
	border: 1px solid black;
}
.border-rounded {
	border: 1px solid black;
	border-radius: 5%;
}
.border-dash {
	border: 1px dashed black;
}

/* Font */
.header-1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;
}
.header-2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
