@import "navBar.css";
@import "soccerDash.css";

body {
	margin: 0;
	font-size: 1em;
	height: 100%;
	background-color: #f9627d;
	color: #0b0c10;
}
/* Colors */
/* D3F8E2
  9B9ECE
  F9627D
  051014
  c99efa */
.active {
	background-color: #9e89fc;
	color: #0b0c10;
}
.active:hover {
	background-color: #8e76fc;
	color: #0b0c10;
}

.main-color,
.main-color-hover {
	background-color: #9b9ece;
	color: #051014;
}
.main-color-hover:hover {
	background-color: #9195ce;
	color: #051014;
}

.success-green,
.success-green-hover {
	background-color: rgb(10, 204, 4);
}
.success-green-hover:hover {
	background-color: rgb(5, 165, 0);
}
.error-red,
.error-red-hover {
	background-color: rgb(226, 2, 2);
}
.error-red-hover:hover {
	background-color: rgb(197, 0, 0);
}
.null-gray,
.null-gray-hover {
	background-color: #aaaaaa;
}
.null-gray-hover:hover {
	background-color: #919191;
}
.success-light-green,
.success-light-green-hover {
	background-color: rgb(116, 255, 111);
}
.success-light-green-hover:hover {
	background-color: rgb(62, 255, 56);
}
.error-light-red,
.error-light-red-hover {
	background-color: rgb(255, 115, 115);
}
.error-light-red-hover:hover {
	background-color: rgb(255, 73, 73);
}
.null-light-gray,
.null-light-gray-hover {
	background-color: #cacaca;
}
.null-light-gray-hover:hover {
	background-color: #9c9c9c;
}

/* Text */
.extra-small-text {
	font-size: 0.5em;
}
.small-text {
	font-size: 0.8em;
}
.normal-text {
	font-size: 1.2em;
}
.large-text {
	font-size: 1.5em;
}
.text-white {
	color: white;
}

/* Layout */
.parent-div {
	display: flex;
}
.left-child,
.right-child {
	width: 50%;
	overflow: auto;
}
.upper-child,
.lower-child {
	height: 50%;
	overflow: auto;
}
.text-centre {
	text-align: center;
	justify-content: center;
	align-items: center;
}
.text-right {
	text-align: right;
	justify-content: right;
	vertical-align: middle;
	align-items: center;
}
.text-left {
	text-align: left;
	vertical-align: middle;
}
.text-top {
	vertical-align: top;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
/* shapes */
.circle {
	border-radius: 50%;
	display: inline-flex;
	height: 2em;
	width: 2em;
	/* float: left; */
}
/* border */
.border {
	border: 1px solid black;
}
