@import "navBar.css";
@import "soccerDash.css";
@import "./common/colors.css";
body {
	margin: 0;
	font-size: 1em;
	height: 100%;
	background-color: #f9627d;
	color: #0b0c10;
}

/* Text */
.extra-small-text {
	font-size: 0.5em;
}
.small-text {
	font-size: 0.8em;
}
.normal-text {
	font-size: 1.2em;
}
.large-text {
	font-size: 1.5em;
}
.text-white {
	color: white;
}

/* Layout */
.parent-div {
	display: flex;
}
.left-child,
.right-child {
	width: 50%;
	overflow: auto;
}
.upper-child,
.lower-child {
	height: 50%;
	overflow: auto;
}
.text-centre {
	text-align: center;
	justify-content: center;
	align-items: center;
}
.text-right {
	text-align: right;
	justify-content: right;
	vertical-align: middle;
	align-items: center;
}
.text-left {
	text-align: left;
	vertical-align: middle;
}
.text-top {
	vertical-align: top;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
/* shapes */
.circle {
	border-radius: 50%;
	display: inline-flex;
	height: 2em;
	width: 2em;
	/* float: left; */
}
/* border */
.border {
	border: 1px solid black;
}
.border-rounded {
	border: 1px solid black;
	border-radius: 10%;
}

/* Font */
.header-1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;
}
.header-2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	font-weight: bold;
}
