@import "soccerTableDisplay.css";
@import "soccerTeamCard.css";
@import "soccerMatchDisplay.css";

.soccer-display {
	height: auto;
	width: 100%;
	overflow: hidden;
	cursor: default;
	min-height: 100%;
}
h2 {
	margin-left: 1em;
}
h1 {
	margin-left: 0.8em;
}
.soccer-select {
	background: transparent;
	border: none;
}
.soccer-header {
	margin-left: 0.8em;
}
.soccer-desc-list {
	margin-left: 2em;
	padding: 0.5em;
}
.soccer-desc-list li {
	padding: 0.3em;
}
.soccer-desc-header {
	margin-left: 0.5em;
	padding-top: 0.5em;
}
