@import "soccerTableDisplay.css";
@import "soccerTeamCard.css";
@import "soccerMatchDisplay.css";

.soccer-display {
	height: 100%;
	width: 100%;
	overflow: hidden;
	cursor: default;
}
h2 {
	margin-left: 1em;
}
h1 {
	margin-left: 0.8em;
}
.soccer-select {
	background: transparent;
	border: none;
}
.soccer-header {
	margin-left: 0.8em;
}
