/* Colors */
/* D3F8E2
  9B9ECE
  F9627D
  051014
  c99efa */
.active {
	background-color: #898ed1;
	color: #0b0c10;
}
.active:hover,
.active-hover {
	background-color: #8e93d4;
	color: #0b0c10;
}

.main-color,
.main-color-hover {
	background-color: #9b9ece;
	color: #051014;
}
.main-color-hover:hover {
	background-color: #9195ce;
	color: #051014;
}
.sec-color,
.sec-color-hover {
	background-color: #f9627d;
	color: #051014;
}
.sec-color-hover:hover {
	background-color: #fc385c;
	color: #051014;
}

.success-green,
.success-green-hover {
	background-color: rgb(10, 204, 4);
}
.success-green-hover:hover {
	background-color: rgb(5, 165, 0);
}
.error-red,
.error-red-hover {
	background-color: rgb(226, 2, 2);
}
.error-red-hover:hover {
	background-color: rgb(197, 0, 0);
}
.warning-yellow,
.warning-yellow-hover {
	background-color: rgb(255, 228, 75);
}
.warning-yellow-hover:hover {
	background-color: rgb(216, 176, 0);
}
.null-gray,
.null-gray-hover {
	background-color: #aaaaaa;
}
.null-gray-hover:hover {
	background-color: #919191;
}
.success-light-green,
.success-light-green-hover {
	background-color: rgb(116, 255, 111);
}
.success-light-green-hover:hover {
	background-color: rgb(62, 255, 56);
}
.error-light-red,
.error-light-red-hover {
	background-color: rgb(255, 115, 115);
}
.error-light-red-hover:hover {
	background-color: rgb(255, 73, 73);
}
.null-light-gray,
.null-light-gray-hover {
	background-color: #cacaca;
}
.null-light-gray-hover:hover {
	background-color: #9c9c9c;
}
.card-light {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}
.card-light:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
}

.card-dark {
	background-color: rgba(168, 166, 166, 0.9);
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}
.card-dark:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
}
