/* Team Display */
.team-name {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
}
.cancel-icon {
	margin: 1em 1em 0 0;
}
.card-team-logo {
	margin-left: 1em;
	vertical-align: middle;
}
.card-body {
	height: 80%;
}
.team-display-card {
	min-height: 28em;
	display: inline-block;
	width: 70%;
	color: black;
	border-radius: 1em;
	margin-top: 5em;
}
.top-display-card {
	margin-top: 7.5em;
}

.team-display-card-container {
	margin: 0 1em 0.5em 1em;
	border: 1px solid black;
	border-radius: 0.5em;
	width: 90%;
}

.team-display-card-message {
	height: 90%;
	display: flex;
}

.team-extra-info {
	margin-left: 1em;
	border: 1px solid black;
	border-radius: 0.5em;
	width: 90%;
}
.team-schedule-table {
	border-collapse: collapse;
}
.team-schedule-row {
	border: 1px solid black;
	height: 1em;
}
.card-data-row {
	margin: 0.25em;
}
.card-body-header {
	margin: 0 0 0 1em;
}
.last-matches-header {
	display: inline-block;
}
.team-name-table-data {
	width: 40%;
}
.hot-icons {
	color: red;
}
.cold-icons {
	color: blue;
}

.form-icons {
	display: inline;
	margin-right: -0.6em;
}
.form-icons:nth-child(1) {
	z-index: 6;
}
.form-icons:nth-child(2) {
	z-index: 5;
}
.form-icons:nth-child(3) {
	z-index: 4;
}
.form-icons:nth-child(4) {
	z-index: 3;
}
.form-icons:nth-child(5) {
	z-index: 2;
}
.form-icons:nth-child(6) {
	z-index: 1;
}
