@import "soccerTableDisplay.css";
@import "soccerTeamCard.css";
@import "soccerMatchDisplay.css";

.soccer-display {
	height: auto;
	width: 100%;
	cursor: default;
	/* min-height: 100%; */
}

.soccer-select {
	background: transparent;
	border: none;
}
.soccer-header {
	display: inline-block;
	margin-left: 0.8em;
	margin-top: 0em;
}
.soccer-desc-list {
	margin-left: 2em;
	padding: 0.5em;
}
.soccer-desc-list li {
	padding: 0.3em;
}
.soccer-desc-header {
	margin-left: 0.5em;
	padding: 0.25em;
	padding-top: 0.5em;
}
.team-card-row {
	margin-top: 3em;
}
